@import url(blogsmall.css) (max-width: 800px);
body{
    background-color: darksalmon;
}
@media(min-width: 800px)
{
    .block{
        height: 100px;
        display: grid;
        grid-template-rows: 70px 1040px 80px 30px;
        grid-gap: 10px;
    }
    .container{
        width: 90vw;
        height: 120vh;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 35% 35% 35%;
        justify-content: center;
        grid-gap: 10px;
    
    }
    .cube{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        height: 35vh;
        background-color: #fffff8;
        color: firebrick;
    }
    .but{
        background-color: cyan;
        cursor: pointer;
        width: 120px;
        height: 40px;
        padding: 1px;
        border-radius: 5px;
        color: #fffff8;
        font-size: 20px;
    }
    .sec{
        font-size: 20px;
        color: darkred;
        font-family: serif;
        background-color: lightslategrey;
    }
    .contain{
        text-align: center;
        color: darkviolet;
    }
}
cube p {
    color: darkcyan;
    font-family: cursive;
}
#c1{
    width: 50px;
    height: 50px;
    background-image: url(img/fb\ icon.png);
    background-repeat: no-repeat;
    background-size: 46px 46px;
    border-radius: 10px;
    cursor: pointer;
}
#c2{
    width: 50px;
    height: 50px;
    background-image: url(img/ld\ icon.png);
    background-repeat: no-repeat;
    background-size: 46px 46px;
    border-radius: 10px;
    cursor: pointer;
}
#c3{
    width: 50px;
    height: 50px;
    background-image: url(img/ig\ icon.png);
    background-repeat: no-repeat;
    background-size: 46px 46px;
    border-radius: 10px;
    cursor: pointer;
}