body{
    background-color: dimgrey;
}
.disc{
    padding: 15px;
    color: cyan;
}
button{
    background-color: cyan;
    cursor: pointer;
    width: 120px;
     height: 40px;
    padding: 1px;
    border-radius: 5px;
    color: #fffff8;
}
figcaption{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(114, 206, 29);
}
figure{
    float: right;
}
p{
    color: rgb(15, 68, 4);
    font-size: 20px;
}
